{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ja-JP">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="icon" href="#" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" />
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>
      {% block title %}

      {% endblock %}
    </title>
  </head>

  <body>
    {% if user.is_authenticated %}
        {% if user.is_store or user.is_superuser %}
          <nav class="navbar navbar-dark sticky-top bg-success">
            <a class="navbar-brand" href="{% url 'storeview:index' %}">Reclaim</a>
            <div class="navbar-nav d-flex flex-row">
              <a class="nav-link mx-3" href="{% url 'storeview:index' %}">一覧</a>
              <a class="nav-link mx-3" href="{% url 'storeview:registerform' %}">登録</a>
            </div>
          <div class="navbar-nav d-flex flex-row">
            <form action="{% url 'accounts:logout' %}" method="post">
              {% csrf_token %}
              <a class="nav-link" href="#" onclick="this.closest('form').submit();return false;">ログアウト</a>
            </form>
          </nav>
        {% else %}
          <h1>Forbidden</h1>
          <p>このページにアクセスする権限がありません。</p>
          <p>店舗用アカウントでログインしてください。</p>
            <a class="btn btn-primary" href="{% url 'accounts:login' %}?next={{ request.path }}">ログイン</a>
            <a class="btn btn-secondary" href="{% url 'accounts:signup' %}?next={{ request.path }}">サインアップ</a>
        {% endif %}
      </nav>
      {% if user.is_store or user.is_superuser %}
        {% block body %}

        {% endblock %}
      {% endif %}
    {% else %}
      <h1>Forbidden</h1>
      <p>このページにアクセスする権限がありません。</p>
      <p>ログインしてください。</p>
      <a class="nav-link mx-3" href="{% url 'accounts:login' %}?next={{ request.path }}">ログイン</a>
      <a class="nav-link mx-3" href="{% url 'accounts:signup' %}?next={{ request.path }}">サインアップ</a>
    {% endif %}

  </body>

</html>


