{% extends 'storeview/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}
  落とし物登録フォーム
{% endblock %}

{% block body %}
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css" />
  <h1 class="py-2 mx-3">落とし物登録フォーム</h1>

  <form method="post" class="mx-3">
    {% csrf_token %}

    <p>
      <label for="id_item_category_id">カテゴリー:</label>
      <select name="item_category_id" required="" id="id_item_category_id">
        <option value="" selected="">---------</option>
        {% for i in item_category_object_list %}
          <option value="{{ i.item_category_id }}">{{ i.category_name }}</option>
        {% endfor %}
      </select>
    </p>

    <p>
      <label for="id_item_tag_id">タグ:</label>
      <select name="item_tag_id" required="" id="id_item_tag_id">
        <option value="" selected="">---------</option>
        {% for i in tag_object_list %}
          <option value="{{ i.tag_id }}">{{ i.tag_name }}</option>
        {% endfor %}
      </select>
    </p>

    <p>
      <label for="id_item_name">名前:</label>
      <input type="text" name="item_name" maxlength="100" required="" id="id_item_name" />
    </p>

    <p>
      <label for="id_item_date">発見日時:</label>
      <input type="text" name="item_date" required="" id="id_item_date" class="hasDatepicker" />
    </p>

    <p>
      <label for="id_item_lost_location">発見場所:</label>
      <input type="text" name="item_lost_location" maxlength="100" required="" id="id_item_lost_location" />
    </p>

    <p>
      <label for="id_item_description">説明文:</label>
      <textarea name="item_description" cols="40" rows="10" required="" id="id_item_description"></textarea>
    </p>

    <p>
      <label for="id_item_image">画像:</label>
      <input type="file" name="item_image" accept="image/*" id="id_item_image" />
    </p>

    <p>
      <label for="id_item_status">発見されたか:</label>
      <input type="checkbox" name="item_status" id="id_item_status" />
    </p>

    <p>
      {% comment %} <label for="id_item_founder">発見者:</label> {% endcomment %}
      <select name="item_founder" required="" id="id_item_founder" hidden>
        <option value="{{ request.user.id }}" selected="">{{ request.user.email }}</option>
      </select>
    </p>

    <button type="submit" class="btn btn-primary">登録</button>
  </form>

  <script>
    $(function () {
      // 日付は、年-月-日 の形式でお願いする。
      let dateFormat = 'yy-mm-dd'
      $('#id_item_date').datepicker({
        dateFormat: dateFormat
      })
    })
  </script>
  <a href="{% url 'storeview:index' %}" class="btn btn-primary mt-3 mx-3">戻る</a>
{% endblock %}
