{% extends 'storeview/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}
  落とし物更新フォーム
{% endblock %}

{% block body %}
{{ ins.item_category_id }}
  <h1 class="py-2 mx-3">落とし物更新フォーム</h1>

  {{ form.errors }}
  <form method="post" class="mx-3">
    {% csrf_token %}
    <p>
      <label for="id_item_category_id">カテゴリー:</label>
      <select name="item_category_id" required="" id="id_item_category_id">
        <option value="" selected="">---------</option>
        {% for i in item_category_object_list %}
          {{ i.item_category_id }}
          {% if i.category_id == ins.item_category_id %}
            <option value="{{ i.category_id }}" selected>{{ i.category_name }}</option>
          {% else %}
            <option value="{{ i.category_id }}">{{ i.category_name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </p>

    <p>
      <label for="id_item_tag_id">タグ:</label>
      <select name="item_tag_id" required="" id="id_item_tag_id">
        <option value="" selected="">---------</option>
        {% for i in tag_object_list %}
          <option value="{{ i.tag_id }}">{{ i.tag_name }}</option>
        {% endfor %}
      </select>
    </p>

    <p>
      <label for="id_item_name">名前:</label>
      <input type="text" name="item_name" maxlength="100" required="" id="id_item_name" />
    </p>

    <p>
      <label for="id_item_date">発見日時:</label>
      <input type="text" name="item_date" required="" id="id_item_date" class="hasDatepicker" />
    </p>

    <label for="id_item_lost_location">発見場所:</label>
    <input type="text" name="item_lost_location" maxlength="100" required="" id="id_item_lost_location" />

    <p>
      <label for="id_item_description">説明文:</label>
      <textarea name="item_description" cols="40" rows="10" required="" id="id_item_description"></textarea>
    </p>

    <p>
      <label for="id_item_image">画像:</label>
      <input type="file" name="item_image" accept="image/*" id="id_item_image" />
    </p>

    <p>
      <label for="id_item_status">発見されたか:</label>
      <input type="checkbox" name="item_status" id="id_item_status" />
    </p>

    <p>
      {% comment %} <label for="id_item_founder">発見者:</label> {% endcomment %}
      <select name="item_founder" required="" id="id_item_founder">
        <option value="{{ request.user.id }}" selected="">{{ request.user.email }}</option>
      </select>
    </p>

    <button type="submit" class="btn btn-primary">登録</button>
  </form>

  {% comment %} <form method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" class="btn btn-primary" value="Submit" />
  </form> {% endcomment %}

  <a href="{% url 'storeview:index' %}" class="btn btn-primary mt-3 mx-3">戻る</a>
{% endblock %}
