{% extends 'storeview/base.html' %}
{% load static %}

{% block title %}画像アップロード{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/upload.css' %}">
<div class="upload-container">
  <div class="upload-card">
    <div class="card-body">
      <h1 class="upload-title">画像アップロード</h1>
      <form method="post" enctype="multipart/form-data" class="upload-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="upload-button">アップロード</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}