{% extends 'storeview/base.html' %}
{% load static %}

{% block title %}
  画像アップロード
{% endblock %}

{% block body %}
  <link rel="stylesheet" href="/static/css/upload.css" />
  <div class="upload-container">
    <div class="upload-card">
      <div class="card-body">
        <h1 class="upload-title">画像アップロード</h1>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="id_item_date" class="form-label">発見日時:</label>
                <input type="date" name="item_date" id="id_item_date" class="form-control" required />
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label for="id_item_lost_location" class="form-label">発見場所</label>
                <input type="text" name="item_lost_location" maxlength="100" required id="id_item_lost_location" class="form-control" placeholder="発見された場所" />
              </div>
            </div>
            
            <div class="col-12">
              <div class="mb-3">
                <label for="id_item_image" class="form-label">画像</label>
                <input type="file" name="item_image" accept="image/*" id="id_item_image" class="form-control" required />
              </div>
            </div>

            <div class="col-12">
              <button type="submit" class="btn btn-primary">アップロード</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
