{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ja-JP">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="icon" href="#" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" />
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>
      {% block title %}

      {% endblock %}
    </title>
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-success">
      <div class="navbar-nav d-flex flex-row">
        <a class="nav-link mx-3" href="{% url 'userview:index' %}">一覧</a>
      </div>
      {% if user.is_authenticated %}
        <div class="navbar-nav d-flex flex-row">
          <li class="nav-item">
            <form action="{% url 'accounts:logout' %}" method="post">
              {% csrf_token %}
              <a class="nav-link" href="#" onclick="this.closest('form').submit();return false;">ログアウト</a>
            </form>
          </li>
        </div>
      {% else %}
        <div class="navbar-nav d-flex flex-row">
          <a class="nav-link mx-3" href="{% url 'accounts:login' %}?next={{ request.path }}">ログイン</a>
        </div>
        <div class="navbar-nav d-flex flex-row">
          <a class="nav-link mx-3" href="{% url 'accounts:signup' %}?next={{ request.path }}">サインアップ</a>
        </div>
      {% endif %}
    </nav>
    