{% extends 'userview/base.html' %}
{% load static %}
{% block title %}
  Contact Us
{% endblock %}
{% block body %}
  <link rel="stylesheet" href="{% static 'css/contact.css' %}" />
  <div class="container">
    <h1>Contact Us About an Item</h1>
    {% if user.is_authenticated %}
      <form method="post" action="{% url 'userview:contact' item_instance.pk %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="email">Your Email:</label>
          <input type="email" id="email" name="email" required readonly value="{{ user.email }}" />
          <a href="{% url 'accounts:profile' %}">異なる場合はこちらから変更してください</a>
          {% comment %}# TODO edit機能をつける{% endcomment %}
        </div>
        <div class="form-group">
          <label for="item">Item Name:</label>
          <p>{{ item_instance.item_name }}</p>
          <input type="hidden" id="item_id" name="item_id" value="{{ item_instance.pk }}" />
        </div>
        <div class="form-group">
          <label for="message">Message:</label>
          <textarea id="message" name="message" rows="5" required></textarea>
        </div>
        <button type="submit">Send Message</button>
      </form>
    {% else %}
      <p>You must be logged in to contact us about an item.</p>
      <a href="{% url 'accounts:login' %}?next={{ request.path }}">Log in</a>
    {% endif %}
  </div>
{% endblock %}
