<p>if authenticated?</p>
<p>
  {% if user.is_authenticated %}
    True ooooo
  {% else %}
    False xxxxx
  {% endif %}
</p>

<p>if not authenticated?</p>
<p>
  {% if not user.is_authenticated %}
    True ooooo
  {% else %}
    False xxxxx
  {% endif %}


<p>if superuser?</p>
<p>
  {% if user.is_superuser %}
    True ooooo
  {% else %}
    False xxxxx
  {% endif %}
</p>

<p>if staff?</p>
<p>
  {% if user.is_staff %}
    True ooooo
  {% else %}
    False xxxxx
  {% endif %}
</p>

<p>if store?</p>
<p>
  {% if user.is_store %}
    True ooooo
  {% else %}
    False xxxxx
  {% endif %}
</p>

<p>if active?</p>
<p>
  {% if user.is_active %}
    True ooooo
  {% else %}
    False xxxxx
  {% endif %}
</p>