{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}
  Edit Profile
{% endblock %}
{% block body %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  <div class="container">
    <h1>Edit Profile</h1>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" autocomplete="email" value="{{ user.email }}" required />
      </div>
      <div class="form-group">
        <label for="first_name">First Name:</label>
        <input type="text" class="form-control" id="first_name" name="first_name" autocomplete="given-name" value="{{ user.first_name }}" />
      </div>
      <div class="form-group">
        <label for="last_name">Last Name:</label>
        <input type="text" class="form-control" id="last_name" name="last_name" autocomplete="family-name" value="{{ user.last_name }}" />
      </div>
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
  </div>
{% endblock %}
