{% extends 'accounts/base.html' %}

{% block title %}

{% endblock %}

{% block content %}

<li class="nav-item">
  <form action="{% url 'accounts:logout' %}" method="post">
      {% csrf_token %}
      <a class="nav-link" href="#" onclick="this.closest('form').submit();return false;">ログアウト</a>
  </form>
</li>


  <form id="f_logout" action="{% url 'accounts:logout' %}" method="post">
    {% csrf_token %}
    <button type="submit" name="btn" type="hidden">Logout</button>
  </form>

  <p>次のページへ進まない場合は</p>
  <a href="{% url 'accounts:login' %}">こちら</a>をクリックしてください

  <script>
    function logout() {
    