{% extends 'accounts/base.html' %}

{% block title %}

{% endblock %}

{% block content %}
  <header>
    {% if user.Last_name %}
      <h1>{{ user.First_name }} {{ user.Last_name }}のプロフィール</h1>
    {% endif %}
  </header>
  <main>
    <section>
      <h2>基本情報</h2>
      {% if user.email %}
        <p>
          <strong>メールアドレス:</strong> {{ user.email }}
        </p>
      {% endif %}
    </section>
    <section>
      <h2>プロフィール詳細</h2>
      {% if user.profile %}
        {% for profile in user %}
          <li>{{ profile }}</li>
        {% endfor %}
      {% endif %}
    </section>
    {% if user.is_store == True %}
    Store
      <a href="{% url 'storeview:index' %}" class="btn btn-primary">リストへ飛ぶ</a>
    {% else %}
    Else
      <a href="{% url 'userview:index' %}" class="btn btn-primary">リストへ飛ぶ</a>
    {% endif %}
    <a href="{% url 'accounts:index' %}" class="btn btn-secondary">トップへ戻る</a>
  </main>
{% endblock %}
