{% extends 'accounts/base.html' %}

{% block title %}
  <div class="h1">Create account</div>
{% endblock %}

{% block content %}
  <div>
    <br />
    <form method="POST">
      {% csrf_token %}
      Email<input type="email" name="email" maxlength="254" required="" id="id_email" />
      <br />
      First_name<input type="text" name="first_name" maxlength="150" required="" id="id_first_name" />
      <br />
      Last_name<input type="text" name="last_name" maxlength="150" required="" id="id_last_name" />
      <br />
      Birth_date